<div class="container">

  <br>
  <h3>Patient Manager</h3>
  <hr>

  <br>

  <hr>

  <!-- th:href="@{/patient/showFormForAdd}" -->
  <a [routerLink]="['/patientform', 0]" class = "btn btn-primary btn-sm mb-3">
    Add Patient
  </a>

  <table class="table table-bordered table-striped table-nonfluid">
      <thead class="thead-dark">
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>CNP</th>
          <th>Father Initial</th>
          <th>City</th>
          <th>County</th>
          <th>Country</th>
          <th>Postal Code</th>
          <th>Registration date</th>
          <th>Action</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor ="let patient of patients">
          <td>{{patient.FirstName}}</td>
          <td>{{patient.LastName}}</td>
          <td>{{patient.Cnp}}</td>
          <td>{{patient.FInitLetter}}</td>
          <td>{{patient.Address.City.Name}}</td>
          <td>{{patient.Address.County.Name}}</td>
          <td>{{patient.Address.Country.Name}}</td>
          <td>{{patient.Address.PostalCode}}</td>
          <td>{{patient.RegistrationDate}}</td>
          <td>
              <!-- <a th:href="@{/patient/showFormForUpdate(patientId=${tempPatient.id})}" -->
                <a class="btn btn-info btn-sm" [routerLink]="['/patientform', patient.Id]">
                    Update
                </a>
  
                <span> </span>

              <!-- <a th:href="@{/patient/delete(patientId=${tempPatient.id})}" -->
              <a class="btn btn-danger btn-sm" (click) = deleteEvent(patient.Id) >
                  Delete
              </a>

          </td>
      </tr>
      </tbody>
  </table>

  <hr>
  <!-- Add a logout button -->
  <!-- th:action="@{/logout}" -->
  <form action="#" 
        method="POST">

      <input type="submit" value="Logout" class="btn btn-outline-primary mt-2"/>
      <hr>
  </form>
</div>